<div class="min-h-screen flex flex-col items-center mt-22 px-6">
	<h1 class="text-3xl font-semibold mt-10">Confirm Deletion</h1>
	<p class="text-lg mt-8">
		Are you sure you want to permanently delete
		<span class="italic font-semibold"><%= locals.data?.name %></span> and all
		the books related?
	</p>
	<p class="mt-2 text-lg w-full">This action is irreversible!</p>

	<form
		action="/<%= headerTitle %>/<%= locals.data.id %>?_method=DELETE"
		method="post"
		class="mt-20 w-full flex justify-center gap-5">
		<button
			id="form-cancel-btn"
			type="button"
			class="w-full text-blue-500 py-1 px-2 rounded-md bg-transparent border border-blue-500 uppercase">
			Cancel
		</button>

		<button
			type="submit"
			class="w-full bg-blue-500 py-1 px-2 rounded-md border-none text-zinc-50 uppercase">
			Confirm
		</button>
	</form>
</div>
