<div class="flex-1 w-full max-w-lg mx-auto flex justify-center items-center">
	<div
		class="flex flex-col items-center bg-white p-6 md:p-10 shadow-md rounded-lg">
		<h1 class="text-3xl font-semibold">Confirm Deletion</h1>
		<p class="text-lg mt-8">
			Are you sure you want to permanently delete
			<span class="italic font-semibold"><%= locals.data?.name %>?</span>
		</p>
		<p class="mt-2 text-lg w-full">This action is irreversible!</p>

		<form
			action="<%= currentPath.split('/').slice(0,3).join('/') %>/?_method=DELETE"
			method="post"
			class="mt-20 w-full flex justify-between gap-5">
			<button
				id="form-cancel-btn"
				type="button"
				class="w-full max-w-48 cursor-pointer text-blue-500 py-1 px-2 rounded-md bg-transparent border border-blue-500">
				Cancel
			</button>

			<button
				type="submit"
				class="w-full max-w-48 cursor-pointer bg-blue-500 py-1 px-2 rounded-md border-none text-zinc-50">
				Confirm
			</button>
		</form>
	</div>
</div>
