<!-- Search -->
<%- include('partials/search') %>

<!-- Page content -->
<% if (locals.genres.length > 0) { %>
<ul class="px-6 mt-10 flex flex-wrap gap-6">
	<% genres.map(genre => { %>
	<li
		class="w-[calc(50%-12px)] md:w-[calc(33.33%-16px)] lg:w-[calc(25%-18px)] h-30 flex items-center justify-center rounded-md text-xl shadow-md border-zinc-200">
		<a
			href="/genres/<%= genre.id %>"
			class="w-full h-full flex items-center justify-center">
			<span><%= genre.name %></span>
		</a>
	</li>
	<%})%>
</ul>
<% } else { %>
<p class="text-center mt-10">No genres.</p>
<% } %>
