<footer
	class="hidden bg-zinc-100/50 backdrop-blur-sm md:flex justify-center items-center h-10 gap-2 px-6 fixed bottom-0 left-0 md:left-16 lg:left-64 w-full md:w-[calc(100%-64px)] lg:w-[calc(100%-256px)]">
	<p class="text-foreground/80 text-sm text-center">
		2025 &copy; Odin Project Assignment by
		<a
			href="https://github.com/jameschen215"
			target="_blank"
			aria-label="Go to author's Github repository"
			class="hover:underline focus:underline italic transition-all duration-200">
			James Chen.<span class="sr-only">Open in new tab</span>
		</a>
		All rights reserved.
	</p>
</footer>
