<header
	class="flex flex-col gap-2 px-6 border-b border-zinc-200 fixed top-0 left-0 md:left-[88px] lg:left-72 w-full md:w-[calc(100%-88px)] lg:w-[calc(100%-288px)] bg-white/50 backdrop-blur">
	<div class="flex items-center justify-between h-14">
		<button
			id="btn-menu"
			class="size-6 cursor-pointer text-zinc-950 md:invisible">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="1"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="lucide lucide-menu-icon lucide-menu w-full h-full">
				<path d="M4 12h16" />
				<path d="M4 18h16" />
				<path d="M4 6h16" />
			</svg>
		</button>

		<span class="text-center text-xl capitalize"><%= headerTitle %></span>

		<a href="/books/create" class="size-6 text-blue-500 rounded-md border-none">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="lucide lucide-plus-icon lucide-plus w-full h-full">
				<path d="M5 12h14" />
				<path d="M12 5v14" />
			</svg>
		</a>
	</div>
</header>
