<header
	class="flex flex-col gap-2 px-6 border-b border-zinc-200 fixed top-0 left-0 md:left-16 lg:left-64 w-full md:w-[calc(100%-64px)] lg:w-[calc(100%-256px)] bg-white/60 backdrop-blur">
	<div class="flex items-center justify-between h-16">
		<button id="btn-menu" class="size-6 cursor-pointer text-zinc-950 md:hidden">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="1"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="lucide lucide-menu-icon lucide-menu w-full h-full">
				<path d="M4 12h16" />
				<path d="M4 18h16" />
				<path d="M4 6h16" />
			</svg>
		</button>

		<div class="text-center text-lg">
			<span class="hidden md:inline-block"><%= headerTitle %></span>
			<span class="md:hidden"><%= title %></span>
		</div>

		<!-- Search -->
		<div class="w-72 px-6 ml-auto hidden md:block">
			<form class="relative">
				<div
					class="size-6 absolute top-1/2 -translate-y-1/2 left-2 text-zinc-400">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						stroke="currentColor"
						stroke-width="1"
						stroke-linecap="round"
						stroke-linejoin="round"
						class="lucide lucide-search-icon lucide-search w-full h-full">
						<path d="m21 21-4.34-4.34" />
						<circle cx="11" cy="11" r="8" />
					</svg>
				</div>

				<input
					type="search"
					name="q"
					data-device="desktop"
					aria-label="Search books"
					class="border border-zinc-300 pl-10 pr-2 py-[6px] w-full rounded-md outline-none hidden md:block focus-within:bg-white"
					placeholder="Search..." />
			</form>
		</div>

		<a href="/books/create" class="size-6 text-blue-500 rounded-md border-none">
			<svg
				xmlns="http://www.w3.org/2000/svg"
				width="24"
				height="24"
				viewBox="0 0 24 24"
				fill="none"
				stroke="currentColor"
				stroke-width="2"
				stroke-linecap="round"
				stroke-linejoin="round"
				class="lucide lucide-plus-icon lucide-plus w-full h-full">
				<path d="M5 12h14" />
				<path d="M12 5v14" />
			</svg>
		</a>
	</div>
</header>
