<!-- Mobile Search -->
<div id="mobile-search" role="search" class="w-full mb-6 ml-auto md:hidden">
	<form aria-label="Search books on mobile">
		<label for="mobile-search-input" class="sr-only">Search books</label>
		<div class="relative">
			<div
				class="size-6 absolute top-1/2 -translate-y-1/2 left-2 text-zinc-400">
				<svg
					xmlns="http://www.w3.org/2000/svg"
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					stroke="currentColor"
					stroke-width="1"
					stroke-linecap="round"
					stroke-linejoin="round"
					class="lucide lucide-search-icon lucide-search w-full h-full">
					<path d="m21 21-4.34-4.34" />
					<circle cx="11" cy="11" r="8" />
				</svg>
			</div>

			<input
				id="mobile-search-input"
				type="search"
				name="q"
				data-device="mobile"
				aria-label="Search books"
				class="border border-zinc-300 bg-white pl-10 pr-2 py-[6px] w-full rounded-md outline-none md:hidden"
				placeholder="Search books, authors..."
				autocomplete="off"
				spellcheck="false" />
		</div>
	</form>
</div>
